@media (max-width: 768px) {
.display_hidden {
display:none;
}
.navbar-brand {
 padding: 10px 0px;
}
.navbar-brand img {
width:130px;
}
.hea_new {
 background: #fff;
 position: fixed;
z-index:9;
 width: 100%;
}
.section {
padding-top:46px;
}
.top_header {
 margin-bottom: 0;
 background: #fdfcfc;
}
.left_menucate li a {
font-size:12px;
border-radius: 0px;
padding: 3px 4px;
}
.left_menucate li img {
 display: block;
 width: 22px;
 height: 22px;
 margin: 0px;
}
h2 {
 font-size: 14px;
 line-height: 22px;
 margin-bottom: 10px;
}
.top_new_media img {
width: 100%;
 height: 200px;
}
 .heading_news {
font-size:13px;
}
.mani_box_news {
display:block;
}
.middle_box_flex {
width:100%;
display:block;
padding-top:37px;
border:none;
}
.left_side_flex {
width:100%;
background: #f7f7f7;
position: fixed;
 z-index: 9;
 box-shadow: 0px 1px 2px #d6d6d6;
padding:0px;
}
.right_side_flex {
width:100%;
display:none;
}
.left_menucate {
display: flex;
 width: 100%;
padding:0px;
 overflow-y:hidden;
 list-style: none;
 overflow-x: auto;
}
 .left_menucate li {
 display: inline-block;
 white-space: nowrap;
 padding: 0px;
 margin:0;
 height:auto;
}
 .header {
display:none;
}
.new_top {
display:none;
}
.news-footer {
font-size:12.5px;
}
.news-footer ul li {
margin-right:7px;
}
.soxi_right li {
 font-size: 13px;
 background: #f9f5f5c7;
 color: #000;
 width: 22px;
 height: 22px;
 border-radius: 50px;
 margin-right: 0px !important;
 line-height: 22px;
 border: 1px dashed #9e6868;
}
 .post-media img {
 width: 100%;
 height: 107px;
 object-fit: cover;
 object-position: top;
}
 .post-sharing .btn {
 padding: 0.6rem !important;
}
 .blog-custom-build .down-mobile,  .blog-title-area .down-mobile {
 display: none !important;
}
 .newsletter-widget .form-inline .form-control {
 width: 100%;
}
 .newsletter-widget .btn {
 display: block;
 width: 100%;
 margin-top: 0.5rem;
}
 .blog-list .blog-meta.big-meta h4 {
 background-color: #ffffff;
 margin-left: 0;
 margin-top:0;
 padding: 0;
 font-size:13px;
 line-height:21px;
}

.link-widget{ margin-bottom:15px;}
.social-button{ width:30px !important; height:30px !important; line-height:30px !important;}
.footer{ padding:10px 0px;}
.footer .widget-title{ font-size:12px; font-weight:600; margin:0 0px 0px 0px;}
.link-widget li {
    padding: 0px 5px 0px 0px;
    text-transform: capitalize;
    line-height: 1;
    font-weight: 400;
    position: relative;
    margin: 0;
    font-size: 12.5px;
    display: inline-block;
}
.footwer_bottom{font-size: 13px !important;
    line-height: 17px !important;}
}